.nav-item > a:not(.external):hover
  color rgba(164, 176, 190,.6)
  border-bottom 1px solid rgba(164, 176, 190,.6)
.nav-item > a:not(.external).router-link-active
  border-bottom 2px solid #ff6b81

a.sidebar-link:hover
  color rgba(164, 176, 190,.6)

a.sidebar-link.active
  color: #ff6b81
  border-left-color: #ff6b81